.git
.gitignore
.dockerignore
node_modules
vendor
.env
.env.*
!.env.example
docker-compose.yml
README.md

# Backend
backend/.env
backend/vendor
backend/node_modules
backend/storage/*.key
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*.log
backend/public/hot
backend/public/storage
backend/tests/
backend/docker/mysql/

# Frontend
frontend/node_modules
frontend/dist
frontend/coverage
frontend/.env
frontend/.env.*
